.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

.footer {
  background-color: #1d1d1d;
  padding: 1rem 1.5rem;
  color: #858585;
  font-size: 0.925rem;
  text-align: center;
}
