.field.is-floating-in-label,
.field.is-floating-label {
  position: relative;
}

.field.is-floating-label .label {
  top: -0.775em;
  padding-left: 0.125em;
  padding-right: 0.125em;
}

.field.is-floating-in-label .label,
.field.is-floating-label .label {
  position: absolute;
  left: 1em;
  font-size: 0.75rem;
  background-color: white;
  z-index: 5;
}
