.wrapper {
  line-height: 0;
}

.isMobileOnly {
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.isTabletOnly {
  @media screen and (max-width: 768px), screen and (min-width: 1024px) {
    display: none;
  }
}

.isDesktopOnly {
  @media screen and (max-width: 1023px), screen and (min-width: 1408px) {
    display: none;
  }
}

.isFullhdOnly {
  @media screen and (max-width: 1407px) {
    display: none;
  }
}
