$title-weight: 400;
$content-heading-weight: 400;

$navbar-padding-vertical: 1rem;
$navbar-item-color: rgba(255, 255, 255, 0.5);
$navbar-item-hover-color: #ffffff;
$navbar-item-hover-background-color: #1d1d1d;
$navbar-item-active-color: #ffffff;
$navbar-item-active-background-color: #1d1d1d;
$navbar-background-color: #1d1d1d;

$fb-blue: #3b5998;
$custom-colors: (
  "fb": (
    $fb-blue,
    #fff,
  ),
);

@import "~bulma/bulma";
@import "navbar.scss";

.calendar {
  flex-grow: 1;
  width: 100%;
  min-height: 500px;
  padding: 8px;
  border: solid #e3e9ff 2px;
  border-radius: 4px;
}
